<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--
    If you want a portable application, set the following paths to local files.
    E.g. you can simply change the LogFilePath value to "TeamProjectManager.log"
    and the application will place the log file in the application's root directory.
    -->
    <add key="LogFilePath" value="" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!--
      If you want to adjust the logging output, these are the available options for the "switchValue":
      Off, Critical, Error, Warning, Information, Verbose, All
      -->
      <source name="TeamProjectManager" switchValue="Information"/>
    </sources>
    <trace autoflush="true" indentsize="3"/>
  </system.diagnostics>
</configuration>
