<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!--
      If you want to adjust the logging output, these are the available options for the "switchValue":
      All, Critical, Error, Warning, Information, Verbose, Off
      -->
      <source name="TeamProjectManager" switchValue="Information"/>
    </sources>
    <trace autoflush="true" indentsize="3"/>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
